<%- include("templates/header") %>
<!-- <%- include("templates/navbar") %> -->

<head>
    <title>
        <%= language.loading %>
    </title>
    <link rel="stylesheet" href="/styles/about.css"/>
</head>
<body>
<header>
    <div class="container">
        <h1><%= language.nexGenFit %></h1>
    </div>
</header>
<div class="container">
    <section class="about">
        <h1><%= language.aboutUs %></h1>
        <h2><%= language.whoWeAre %></h2>
        <p><%= language.welcomeMessage %></p>

        <h2><%= language.ourStory %></h2>
        <p><%= language.ourStoryContent %></p>

        <h2><%= language.ourValues %></h2>
        <p><%= language.ourValuesContent %></p>
        <ul>
            <li><strong><%= language.inclusivity %></strong> <%= language.inclusivityContent %></li>
            <li><strong><%= language.flexibility %></strong> <%= language.flexibilityContent %></li>
            <li><strong><%= language.empowerment %></strong> <%= language.empowermentContent %></li>
        </ul>

        <h2><%= language.whatWeOffer %></h2>
        <p><%= language.whatWeOfferContent %></p>
    </section>
</div>
</body>

<%- include("templates/footer", { currentPage: 'about' }) %>
