<%- include("templates/header") %>
<head>
    <title><%= language.workoutDetailsTitle %></title>
    <link rel="stylesheet" href="./styles/additional-info.css"/>
</head>

<form action="/submitAdditionalInfo" class="form-group" method="POST" id="additional-info">
    <h1><%= language.workoutDetails %></h1>

    <div class="my-4">
        <label for="weight"><%= language.weight %>:</label>
        <input class="form-control" id="weight" placeholder="in KG" name="weight" required/>
    </div>

    <div class="my-4">
        <label for="height"><%= language.height %>:</label>
        <input class="form-control" placeholder="in cm" id="height" name="height" required/>
    </div>

    <div class="my-4">
        <label for="time"><%= language.workoutPlanDuration %>:</label>
        <select class="form-select" id="workout_duration" name="time" aria-label="Default select example">
            <option selected><%= language.selectDay %></option>
            <option value="0"><%= language.monday %></option>
            <option value="1"><%= language.tuesday %></option>
            <option value="2"><%= language.wednesday %></option>
            <option value="3"><%= language.thursday %></option>
            <option value="4"><%= language.friday %></option>
            <option value="5"><%= language.sunday %></option>
        </select>
    </div>

    <div class="my-4">
        <label for="goal"><%= language.goal %>:</label>
        <textarea class="form-control" id="goal" name="goal" required rows="3"></textarea>
    </div>

    <div class="my-4">
        <label for="workoutLevel"><%= language.workoutLevel %>:</label>
        <select class="form-control" required id="workoutLevel" name="fitnessLevel" required>
            <option selected><%= language.selectLevel %></option>
            <option value="beginner"><%= language.beginner %></option>
            <option value="intermediate"><%= language.intermediate %></option>
            <option value="advanced"><%= language.advanced %></option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary primary-color primary-color-hover">
        <%= language.submit %>
    </button>
</form>
<%- include("templates/footer") %>
