<%- include("templates/header") %>
<%- include("templates/navbar") %>
<div class="container py-5 mt-4">
    <% if(data) { %>
        <% Object.keys(data).forEach(function(day) { %>
            <div class="card mb-3">
                <div class="card-header">
                    <h2><%= language[day] %></h2>
                </div>
                <div class="card-body">
                    <% data[day].forEach(function(session) { %>
                        <div class="card mb-2">
                            <div class="card-body">
                                <h5 class="card-title"><%= language[session.name] || session.name %></h5>
                                <p class="card-text"><%= language.time %>: <%= session.time %></p>
                            </div>
                        </div>
                    <% }); %>
                </div>
            </div>
        <% }); %>
    <% } else { %>
        <div class="d-flex align-items-center justify-content-center">
            <p><%= language.noData %></p>
        </div>
    <% } %>
</div>
<%- include("templates/footer") %>
