<%- include("templates/header") %>
<head>
    <title><%= language.forgetPasswordTitle %></title>
    <link rel="stylesheet" href="/styles/login.css">
</head>
<div class="form-container">
    <form id="forget-password-form">
        <div class="mb-3">
            <label for="email" class="form-label">
                <%= language.email %>:
            </label>
            <input type="email" required class="form-control" id="email" name="email" placeholder="Enter your email">
        </div>
        <button type="submit" id="submitButton" class="btn-primary">
            <%= language.resetPassword %>
        </button>
    </form>
    <a href="/login"><%= language.backToLogin %></a>
</div>
<div id="statusMessage" class="alert" style="display: none; margin-top: 20px;"></div>
<%- include("templates/footer") %>

<script>
    const forgetPasswordForm = document.getElementById('forget-password-form');
    forgetPasswordForm.addEventListener('submit', async (e) => {
        e.preventDefault();

        const form = e.target;
        const email = document.getElementById('email').value;
        const submitButton = document.getElementById('submitButton');
        const statusMessage = document.getElementById('statusMessage');

        submitButton.disabled = true;
        submitButton.style.backgroundColor = '#D2CBCB';
        statusMessage.style.display = 'block';
        statusMessage.innerHTML = language.sendingEmail;
        statusMessage.style.color = 'blue';

        if (!email) {
            statusMessage.innerHTML = language.pleaseEnterYourEmail;
            statusMessage.style.color = 'orange';
            submitButton.disabled = false;
            submitButton.style.backgroundColor = '';
        } else {
            try {
                const response = await fetch('/forget-password', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({email})
                });

                if (response.ok) {
                    statusMessage.innerHTML = language.passwordResetEmailSent;
                    statusMessage.style.color = 'green';
                } else {
                    const errorData = await response.json();
                    statusMessage.innerHTML = errorData.message || language.errorOccurred;
                    statusMessage.style.color = 'red';
                    submitButton.disabled = false;
                    submitButton.style.backgroundColor = '';
                }
            } catch (err) {
                statusMessage.innerHTML = language.errorOccurred;
                statusMessage.style.color = 'red';
                submitButton.disabled = false;
                submitButton.style.backgroundColor = '';
            }
        }
    });
</script>
