<%- include("templates/header") %>

    <head>
        <title>
            <%= language.homeTitle %>
        </title>
        <link rel="stylesheet" href="/styles/home.css" />
        <style>
            .container {
                display: flex;
                flex-direction: column;
                gap: 50px;
                justify-items: center;
            }

            #days {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #f8f9fa;
               
                border-radius: 10px;
                margin: 1em;
            }

            #days div {
                flex: 1;
                padding: 10px;
                text-align: center;
                font-weight: bold;
                color: #4f4f4f;
                cursor: pointer;
            }

            #userAvatar {
                margin: auto;
                text-align: center;
            }

            .user-avatar {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                object-fit: cover;
                cursor: pointer;
            }

            #workoutPlan {
                margin: 1em;
                padding: 1em;
                border: 1px solid #dadada;
                border-radius: 20px;
                background-color: #ffffff;
                cursor: pointer;
                color: #000;
            }

            .container {
                padding-bottom: 8rem;
            }

            .lang-text {
                font-weight: 900;
            }

            .card {
                background-color: #f8f9fa;
                border-radius: 10px;
                padding: 20px;
                margin: 10px 0;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            }

            .card-title {
                font-weight: bold;
                font-size: 1.2em;
            }

            .card-content {
                margin-top: 10px;
            }

            .highlighted {
                background-color: var(--color-primary);
                color: #fff;
                border-radius: 5px;
            }
        </style>
        <script type="module" src="/scripts/home.js"></script>
    </head>
    <%- include("templates/navbar") %>
        <div class="container">
            <div id="days" class="undecorated">
                <div class="lang-text" data-day="mon">
                    <%= language.mon %>
                </div>
                <div class="lang-text" data-day="tue">
                    <%= language.tue %>
                </div>
                <div class="lang-text" data-day="wed">
                    <%= language.wed %>
                </div>
                <div class="lang-text" data-day="thu">
                    <%= language.thu %>
                </div>
                <div class="lang-text" data-day="fri">
                    <%= language.fri %>
                </div>
                <div class="lang-text" data-day="sat">
                    <%= language.sat %>
                </div>
                <div class="lang-text" data-day="sun">
                    <%= language.sun %>
                </div>
            </div>

            <a href="/profile" id="userAvatar" class="undecorated">
                <% if (userData.avatar) { %>
                    <img src="/avatar/<%= userData.avatar %>" alt="User Avatar" class="user-avatar" />
                    <% } else { %>
                        <img src="/images/userAvatar_default.png" alt="Default Avatar" class="user-avatar" />
                        <% } %>
            </a>

            <div id="workoutPlan" class="undecorated">
                <p style="font-weight: 900; text-align: center;">
                    <%= language.todaysExercises %>
                </p>
                <div id="exercisesList" class="undecorated"></div>
            </div>
        </div>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                const daysMap = {
                    0: 'sun',
                    1: 'mon',
                    2: 'tue',
                    3: 'wed',
                    4: 'thu',
                    5: 'fri',
                    6: 'sat'
                };

                const today = new Date().getDay();
                const todayDay = daysMap[today];

                document.querySelectorAll('#days .lang-text').forEach(dayElement => {
                    if (dayElement.dataset.day === todayDay) {
                        dayElement.classList.add('highlighted');
                    }
                });
            });

        </script>
        <%- include("templates/footer") %>