<%- include("templates/header") %>
<head>
    <title>change password</title>
    <link rel="stylesheet" href="/styles/profile.css">
    <style>
        header {
            display: flex;
            justify-content: space-between;
        }

        main {
            margin: 1em;
        }

        main > span {
            font-size: 1.2rem;
            font-weight: bold;
            color: #4F4F4F
        }

        #personalInformation,
        #workoutSettings {
            border: 1px solid #DADADA;
            border-radius: 20px;
            margin: 2px;
            padding: 5px 20px;
        }

        li a {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr auto;
            grid-template-rows: 1fr auto;
            grid-template-areas:
                "title icon"
                "content icon";
            text-decoration: none;
            color: #000;
            padding: 10px 0;
            border-bottom: 1px solid #DADADA;
        }

        ul li:last-child a {
            border-bottom: none;
        }

        .list-group-title {
            grid-area: title;
            font-size: 1rem;
        }

        .list-group-content {
            grid-area: content;
            font-size: .8rem;
        }

        a svg {
            grid-area: icon;
            justify-self: center;
            align-self: center;
        }
    </style>
</head>
<%- include("templates/navbar") %>
<div class="container mt-5">
    <header class="d-flex align-items-center mb-4">
        <span class="lang-text" data-key="helloUser">Hello, <%= userData.username %></span>
        <!-- TODO: Avatar -->
        <% userData.avatar %>
    </header>
    <main>
        <span class="lang-text" data-key="personalInformation">Personal information</span>
        <ul class="undecorated" id="personalInformation">
            <li>
                <a href="/personalInformation">
                    <span class="lang-text list-group-title" data-key="name">Name</span>
                    <span class="list-group-content">
                        <%= userData.username ? userData.username : '-' %>
                    </span>
                    <svg width="9" height="11" viewBox="0 0 9 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.72934 5.49997L0.957336 2.20064L2.84267 0.549805L8.5 5.49997L2.84267 10.4501L0.957336 8.7993L4.72934 5.49997Z"
                              fill="black"/>
                    </svg>
                </a>
            </li>
            <li>
                <a href="/personalInformation">
                    <span class="lang-text list-group-title" data-key="email">Email</span>
                    <span class="list-group-content">
                        <%= userData.email ? userData.email : '-' %>
                    </span>
                    <svg width="9" height="11" viewBox="0 0 9 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.72934 5.49997L0.957336 2.20064L2.84267 0.549805L8.5 5.49997L2.84267 10.4501L0.957336 8.7993L4.72934 5.49997Z"
                              fill="black"/>
                    </svg>
                </a>
            </li>
            <li>
                <a href="/personalInformation">
                    <span class="lang-text list-group-title" data-key="birthday">Birthday</span>
                    <span class="list-group-content">
                        <%= userData.birthday ? new Date(userData.birthday).toISOString().substring(0, 10) : '-' %>
                    </span>
                    <svg width="9" height="11" viewBox="0 0 9 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.72934 5.49997L0.957336 2.20064L2.84267 0.549805L8.5 5.49997L2.84267 10.4501L0.957336 8.7993L4.72934 5.49997Z"
                              fill="black"/>
                    </svg>
                </a>
            </li>
            <li>
                <a href="/personalInformation">
                    <span class="lang-text list-group-title" data-key="height">Height</span>
                    <span class="list-group-content">
                        <%= userData.height ? userData.height : '-' %>
                    </span>
                    <svg width="9" height="11" viewBox="0 0 9 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.72934 5.49997L0.957336 2.20064L2.84267 0.549805L8.5 5.49997L2.84267 10.4501L0.957336 8.7993L4.72934 5.49997Z"
                              fill="black"/>
                    </svg>
                </a>
            </li>
            <li>
                <a href="/personalInformation">
                    <span class="lang-text list-group-title" data-key="weight">Weight</span>
                    <span class="list-group-content">
                        <%= userData.weight ? userData.weight : '-' %>
                    </span>
                    <svg width="9" height="11" viewBox="0 0 9 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.72934 5.49997L0.957336 2.20064L2.84267 0.549805L8.5 5.49997L2.84267 10.4501L0.957336 8.7993L4.72934 5.49997Z"
                              fill="black"/>
                    </svg>
                </a>
            </li>
            <li>
                <a href="/changePassword">
                    <span class="lang-text list-group-title" data-key="changePassword">Change Password</span>
                    <svg width="9" height="11" viewBox="0 0 9 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.72934 5.49997L0.957336 2.20064L2.84267 0.549805L8.5 5.49997L2.84267 10.4501L0.957336 8.7993L4.72934 5.49997Z"
                              fill="black"/>
                    </svg>
                </a>
            </li>
        </ul>

        <span class="lang-text" data-key="workoutSettings">Workout Settings</span>
        <ul class="undecorated" id="workoutSettings">
            <li>
                <a href="/workoutSettings">
                    <span class="lang-text list-group-title" data-key="fitnessGoal">Fitness Goal</span>
                    <span class="list-group-content">
                        <%= userData.goal ? userData.goal : '-' %>
                    </span>
                    <svg width="9" height="11" viewBox="0 0 9 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.72934 5.49997L0.957336 2.20064L2.84267 0.549805L8.5 5.49997L2.84267 10.4501L0.957336 8.7993L4.72934 5.49997Z"
                              fill="black"/>
                    </svg>
                </a>
            </li>
            <li>
                <a href="/workoutSettings">
                    <span class="lang-text list-group-title" data-key="fitnessExperience">Fitness Experience</span>
                    <span class="list-group-content">
                        <%= userData.fitnessLevel ? userData.fitnessLevel : '-' %>
                    </span>
                    <svg width="9" height="11" viewBox="0 0 9 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.72934 5.49997L0.957336 2.20064L2.84267 0.549805L8.5 5.49997L2.84267 10.4501L0.957336 8.7993L4.72934 5.49997Z"
                              fill="black"/>
                    </svg>
                </a>
            </li>
            <li>
                <a href="/workoutSettings">
                    <span class="lang-text list-group-title" data-key="workoutDuration">Workout Duration</span>
                    <span class="list-group-content">
                        <%= userData.time ? userData.time : '-' %>
                    </span>
                    <svg width="9" height="11" viewBox="0 0 9 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4.72934 5.49997L0.957336 2.20064L2.84267 0.549805L8.5 5.49997L2.84267 10.4501L0.957336 8.7993L4.72934 5.49997Z"
                              fill="black"/>
                    </svg>
                </a>
            </li>
        </ul>
    </main>
</div>
<%- include("templates/footer") %>
